bidict
# gillespy  # https://github.com/johnabel/gillespy
gillespy2  # https://github.com/gillespy2/GillesPy2
graphviz
h5py
libsbml
luigi
matplotlib
numpy>=1.16
scikit-learn
tensorflow==1.15.2
tensorflow-probability==0.7.0
tqdm